
.web{
    background-color:#5DADE2;
    text-align: center;
}

.ingles{
    background-color: #C39BD3;
    text-align: center;
}

.lenguajes{
    background-color: #73C6B6;
    text-align: center;
}

.requisitos{
    background-color: #D98880;
    text-align: center;
}

.desarrollo{
    background-color: #DE699B;
    text-align: center;
}

.lider{
    background-color: #2AC3CA;
    text-align: center;
}

.receso{
    background-color: #808080;
    text-align: center;
}

.horas{
    background-color: #FFA07A; 
}